fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
python-multipart
PyJWT
pandas
numpy
scikit-learn
prophet
transformers
torch
langchain
python-dotenv
pymongo
pyspark
httpx
